@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.red-button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #d91233;
  color: #fff;
  font-size: 18px;
  min-width: 240px;
  padding: 15px 0;
  border-radius: 40px;
  border: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.section {
  padding: 80px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

@media (max-width: 480px) {
  .title {
    font-size: 25px;
  }
}

.header {
  position: relative;
  background: url("../img/header/header-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.header__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
}

.navbar {
  position: relative;
  z-index: 1;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__call-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar__num {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar__call-back {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d91233;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .navbar-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar__num {
    font-size: 23px;
  }
  .navbar__call-back {
    font-size: 13px;
  }
  .navbar__logo {
    max-width: 86px;
    overflow: hidden;
  }
}

.hero {
  position: relative;
  z-index: 1;
  padding: 130px 0 90px 0;
}

.hero__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
}

.hero__strong {
  font-size: 48px;
  text-transform: uppercase;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 630px;
  margin: 100px auto;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__text {
  margin-top: 40px;
  font-size: 18px;
}

.hero__icon {
  height: 50px;
}

.hero__btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 525px;
  margin: 0 auto;
}

.hero__remark {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.red-button__hero:hover {
  background: transparent;
  border: 1px solid #d91233;
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 0 50px 0;
  }
  .hero__title {
    line-height: 40px;
  }
  .hero__strong {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 50px 0 10px 0;
  }
  .hero__title {
    line-height: 40px;
    text-align: left;
    font-size: 23px;
  }
  .hero__title br {
    display: none;
  }
  .hero__strong {
    font-size: 28px;
  }
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px auto 20px auto;
  }
  .hero__item {
    margin-bottom: 50px;
  }
  .hero__btn-wrap {
    margin: 0 auto 50px auto;
  }
  .red-button__hero {
    font-size: 14px;
    min-width: 200px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero__btns-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title {
    font-size: 20px;
  }
  .hero__strong {
    font-size: 25px;
  }
  .hero__text {
    font-size: 16px;
  }
}

.services {
  padding-bottom: 0px;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
  padding: 0 40px;
}

.services__item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.services__item-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  max-width: 230px;
  line-height: 20px;
}

@media (max-width: 480px) {
  .services__item {
    margin-bottom: 55px;
    padding: 0 0;
  }
}

.reviews {
  background-color: #f3f1f1;
  padding-bottom: 20px;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
  padding-top: 60px;
}

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  margin-bottom: 55px;
  padding: 0 20px;
}

.reviews-slider__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-slider__body {
  padding-left: 20px;
}

.reviews-slider__name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #757575;
}

.reviews-slider__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #d91233;
  margin-top: 7px;
}

.reviews-slider__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  max-width: 325px;
}

@media (max-width: 768px) {
  .reviews-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
  }
  .reviews-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 435px;
            flex: 0 1 435px;
    margin: 0 auto 55px auto;
    padding: 0 0;
  }
}

@media (max-width: 480px) {
  .reviews-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
  }
  .reviews-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0 auto 50px auto;
    padding: 0 0;
    text-align: center;
  }
  .reviews-slider__image-box {
    margin-bottom: 20px;
  }
  .reviews-slider__body {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */