@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.red-button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #d91233;
  color: #fff;
  font-size: 18px;
  min-width: 240px;
  padding: 15px 0;
  border-radius: 40px;
  border: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.section {
  padding: 80px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

@media (max-width: 480px) {
  .title {
    font-size: 25px;
  }
}

.call-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.call-num {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.call-back {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d91233;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 500px) {
  .call-num {
    font-size: 23px;
  }
  .call-back {
    font-size: 13px;
  }
  .logo {
    max-width: 85px;
    overflow: hidden;
  }
}

.header {
  position: relative;
  background: url("../img/header/header-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.header__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
}

.navbar {
  position: relative;
  z-index: 1;
  padding-top: 10px;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .navbar-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hero {
  position: relative;
  z-index: 1;
  padding: 130px 0 90px 0;
}

.hero__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
}

.hero__strong {
  font-size: 48px;
  text-transform: uppercase;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 630px;
  margin: 100px auto;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__text {
  margin-top: 40px;
  font-size: 18px;
}

.hero__icon {
  height: 50px;
}

.hero__btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 525px;
  margin: 0 auto;
}

.hero__remark {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.red-button__hero:hover {
  background: transparent;
  border: 1px solid #d91233;
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 0 50px 0;
  }
  .hero__title {
    line-height: 40px;
  }
  .hero__strong {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 50px 0 10px 0;
  }
  .hero__title {
    line-height: 40px;
    text-align: left;
    font-size: 23px;
  }
  .hero__title br {
    display: none;
  }
  .hero__strong {
    font-size: 28px;
  }
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px auto 20px auto;
  }
  .hero__item {
    margin-bottom: 50px;
  }
  .hero__btn-wrap {
    margin: 0 auto 50px auto;
  }
  .red-button__hero {
    font-size: 14px;
    min-width: 200px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero__btns-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title {
    font-size: 20px;
  }
  .hero__strong {
    font-size: 25px;
  }
  .hero__text {
    font-size: 16px;
  }
}

.services {
  padding-bottom: 0px;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
  padding: 0 40px;
}

.services__item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.services__item-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  max-width: 230px;
  line-height: 20px;
}

@media (max-width: 480px) {
  .services__item {
    margin-bottom: 55px;
    padding: 0 0;
  }
}

.request {
  background-color: #ebebeb;
}

.request__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.request__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 25px;
  border: 7px solid #fff;
}

.request__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  margin: 0 25px;
}

.request__group {
  display: block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
}

.request select {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  height: 42px;
  padding: 0px 20px;
  color: #b8b8b8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: url("../img/request/select-arrow.png");
  background-position: center;
  background-position-x: 95%;
  background-size: 15px;
  background-repeat: no-repeat;
}

.request__select-box {
  background-color: #fff;
  background-image: url("../img/request/select-line.png");
  background-position: center;
  background-position-x: 85%;
  background-size: 1px;
  background-repeat: no-repeat;
}

.request__partsofcar {
  height: 125px;
  resize: none;
}

.request-input {
  height: 42px;
}

.request-btn {
  margin: 15px 0 20px 0;
}

.request__label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: block;
  margin-bottom: 7px;
  font-size: 13px;
}

.form-item {
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: none;
}

.form ::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #b8b8b8;
}

.form :-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #b8b8b8;
}

.form ::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #b8b8b8;
}

.form ::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #b8b8b8;
}

@media (max-width: 910px) {
  .request__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request__column {
    margin: 0 20px 30px 20px;
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}

@media (max-width: 910px) and (min-width: 700px) {
  .request__column:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 93%;
        flex-basis: 93%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request__group {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .request-btn {
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 700px) {
  .request__row {
    padding: 50px 20px 0px 20px;
  }
  .request__subtitle {
    margin-bottom: 40px;
  }
  .request__column {
    margin: 0 0px 30px 0px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media (max-width: 600px) {
  .request-btn {
    font-size: 14px;
    width: 200px;
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 480px) {
  .request__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.reviews {
  background-color: #f3f1f1;
  padding-bottom: 20px;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
  padding-top: 60px;
}

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  margin-bottom: 55px;
  padding: 0 20px;
}

.reviews-slider__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-slider__body {
  padding-left: 20px;
}

.reviews-slider__name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #757575;
}

.reviews-slider__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #d91233;
  margin-top: 7px;
}

.reviews-slider__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  max-width: 325px;
}

@media (max-width: 768px) {
  .reviews-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
  }
  .reviews-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 435px;
            flex: 0 1 435px;
    margin: 0 auto 55px auto;
    padding: 0 0;
  }
}

@media (max-width: 480px) {
  .reviews-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
  }
  .reviews-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0 auto 50px auto;
    padding: 0 0;
    text-align: center;
  }
  .reviews-slider__image-box {
    margin-bottom: 20px;
  }
  .reviews-slider__body {
    padding: 0;
  }
}

.advice {
  background-color: #dbdbdb;
}

.advice__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
}

.advice__form {
  border: 5px solid #fff;
  max-width: 740px;
  margin: 0 auto;
  padding: 56px 0;
}

.advice__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 620px;
  margin: 0 auto;
}

.advice__group {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 20px;
}

.advice__label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #3b3b3b;
  margin-bottom: 7px;
}

.advice__input-name {
  width: 100%;
  height: 45px;
  border: none;
  padding: 0 10px;
}

.advice__btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.red-button__advice {
  margin-top: 40px;
  width: 310px;
}

@media (max-width: 600px) {
  .advice__form {
    padding: 40px 0;
  }
  .advice__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advice__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 10px;
  }
  .advice__input-name {
    margin-bottom: 30px;
  }
  .red-button__advice {
    font-size: 14px;
    width: 200px;
    margin-top: 10px;
  }
}

.car-brands__title {
  margin-bottom: 80px;
}

.car-brands-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-brands__item {
  padding: 0 20px 30px 20px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

@media (max-width: 480px) and (min-width: 300px) {
  .car-brands__title {
    margin-bottom: 50px;
  }
  .car-brands-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .car-brands__item {
    padding: 0 20px 30px 20px;
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
  .car-brands__image {
    width: 100%;
    height: 100%;
  }
}

.footer__logo {
  color: #5a5a5a;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.footer__call-num {
  color: #000;
}
/*# sourceMappingURL=style.css.map */