.reviews
  background-color: #f3f1f1
  padding-bottom: 20px
  overflow: hidden
  &-slider 
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 -20px
    padding-top: 60px
    min-width: 0
    position: relative
    &__item
      display: flex
      flex-direction: row
      margin-bottom: 55px
      padding: 0 20px
      max-width: 420px
    &__image-box
      display: flex
      flex-shrink: 0
      justify-content: center
      width: 90px
      height: 90px
      border-radius: 50%
      overflow: hidden
    &__body
      padding-left: 20px
    &__name
      +opensemibold
      font-size: 12px
      color: #757575
    &__title
      +openbold
      font-size: 16px
      color: #d91233
      margin-top: 7px
    &__text
      +opensemibold
      font-size: 13px
      max-width: 325px
@media(max-width: 830px)
  .reviews
    &-slider
      &__item
        max-width: 385px
@media(max-width: 768px)
  .reviews
    &-slider
      &__item
        flex-direction: column
        align-items: center
        text-align: center
        margin-bottom: 20px
        padding: 0 20px
      &__image-box
        margin-bottom: 20px
@media(max-width: 650px)
  .reviews
    &-slider
      &__item
        flex-direction: column
        align-items: center
        text-align: center
        max-width: 500px
      &__text
        max-width: 100%
      &__body
        padding-left: 0
        padding-bottom: 20px
.reviews-slider .slick-list
  overflow: hidden
.reviews-slider .slick-track
  display: flex
  align-items: flex-start
.reviews-slider .slick-arrow
  position: absolute
  top: 43%
  z-index: 1
  font-size: 0
  width: 40px 
  height: 60px
  background-color: transparent
  border: none
  margin: 0 10px
  opacity: 0.4
  &:focus
    outline: none
  &:hover
    opacity: 1
.reviews-slider .slick-arrow.slick-prev
  background-image: url('../img/reviews/left.png')
  background-position-y:  center
  left: 0
.reviews-slider .slick-arrow.slick-next
  background-image: url('../img/reviews/right.png')
  background-position-x: 4px
  background-position-y: center
  right: 0
.reviews-slider .slick-dots
  display: flex
  justify-content: center
  width: 100%
  padding-left: 10px
.reviews-slider .slick-dots li
  list-style: none
  margin: 0 3px
  &.slick-active
    button
      background-color: #d91233
.reviews-slider .slick-dots button
  font-size: 0
  height: 12px
  background-color: #b8b8b8
  border-radius: 50%
  border: none